$primary = #e39343
$secondary = #4393e3
$dark = #0a003b
$black = #12002C
$grayDark = #C1C1C1
$accent = #30E6FC
$grayLigth = #FFFFFF
$bg-body   = rgba(0,0,0,.25)

.text-primary
  color: $primary !important
:root
  --q-primary #e39343 !important
  --q-secondary #4393e3 !important
  --q-accent #30E6FC !important
  --q-dark #1D1D1D !important
  --q-light #93e343 !important
  --q-positive #43e393 !important
  --q-negative #e34343 !important
  --q-info #31CCEC !important
  --q-warning #e3e343 !important