$primary = #ff8800
$secondary = #202225
$dark = #0a003b
$black = #12002C
$grayDark = #C1C1C1
$accent = #30E6FC
$grayLigth = #FFFFFF
$bg-body   = rgba(0,0,0,.25)
$nostr   = #ff8800
$grayDark2 = #727373

.text-primary
  color: $primary !important
.text-grey-dark
  color: $grayDark !important

.bg-nostr
  background-color: $nostr
:root
  --q-primary #ff8800 !important
  --q-secondary #202225 !important
  --q-accent #30E6FC !important
  --q-dark #1D1D1D !important
  --q-light #76f903 !important
  --q-positive #4AAB0C !important
  --q-negative #D50B0B !important
  --q-info #31CCEC !important
  --q-warning #f1f903 !important

