$primary = #f98803
$secondary = #0376f9
$dark = #0a003b
$black = #12002C
$grayDark = #C1C1C1
$accent = #30E6FC
$grayLigth = #FFFFFF
$bg-body   = rgba(0,0,0,.25)
$nostr   = #9933cc

.text-primary
  color: $primary !important

.bg-nostr
  background-color: $nostr
:root
  --q-primary #f98803 !important
  --q-secondary #0376f9 !important
  --q-accent #30E6FC !important
  --q-dark #1D1D1D !important
  --q-light #76f903 !important
  --q-positive #43e393 !important
  --q-negative #f90b03 !important
  --q-info #31CCEC !important
  --q-warning #f1f903 !important