@import 'colors.styl'

// QInput
.c-input
  .q-field__native
    color: white !important
  &-bg
    .q-field__control
      background-color: $secondary !important
      &:before
      &:after
        border-color: #727373

